.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .content{
    a{
      color: #009be9;
      cursor: pointer;
    }
  }
}
